/* **************Reset CSS***************** */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* ************** Menu-Hamburguesa ***************** */
.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #F7DF1E;
}
.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  widows: 100%;
  max-width: 1200px;
  min-height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(34, 34, 34, 0.85);
  width: 100%;
  transform: translate(0, -100%);
}
.panel.is-active {
  transform: translate(0, 0);
}
.panel .menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.panel .menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #F7DF1E;
  transition: all 0.3s ease;
}
.panel .menu a:hover {
  font-weight: bold;
  color: #222;
  background-color: rgba(247, 222, 30, 0.85);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7DF1E;
}